html {
  background: url("felt-table.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#dealer-hand {
  width: 70%;
  height: 200px;
  /* background-color: rgba(3, 209, 30, 0.6); */
  /* background-color: hsla(155, 91%, 44%, 0.6); */
}
#dealer-hand img {
  margin: 15px;
}
.bets {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
}
#table {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  margin: 75px;
}
#player-hand {
  width: 70%;
  height: 200px;
  /* background-color: hsla(155, 91%, 44%, 0.6); */
}
#player-hand img {
  margin: 15px;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: start;
  margin: 30px;
}
.buttons button {
  margin: 10px;
  height: 25px;
  width: auto;
  border-radius: 12px;
}
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}
.alert.success {
  background-color: #4caf50;
}
.alert.info {
  background-color: #2196f3;
}
.alert.warning {
  background-color: #ff9800;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
